#start{
  height:30px;
  width:60px;
  background-color: white;
}


body{
  background-color: black;

}
h1{
  margin:0;
  color:white;
  text-align:center;
  font-size:100px;
  font-family:'VT323', monospace;
}
footer{
  display:flex;
  justify-content: space-around;
}

.quit{
  flex:0.2;
  color:green;
  margin-top: 10px;
  font-size:50px;
  background-color:rgba(155,232,18,0.8);
  text-align: center;
}

 .score{
    margin-bottom: 10px;
    color:red;
    text-align:center;
    font-size:50px;
    font-family: 'Barrio', cursive;
  }

.Maincircle{
  display:flex;
  position:relative;
  width:600px;
  height:600px;
  background-color: rgba(179,255,224,0.9);
  border-radius:50%;
  border:10px solid rgba(30,255,255,0.7);
  margin: 0 auto;
}
.cube{
  flex:1;
  height:200px;
  width:200px;
  display:block;
}
.col1{
  flex:1;
  height:600px;
  width:200px;
}
#red{
  background-color:red;
  /*line-height:600px;
  margin:auto;*/
  align-items:center;
}
.col3{
  flex:1;
  height:600px;
  width:200px;
}
.circle-button {
  flex:1;
  height:200px;
  width:200px;
  border-radius:50%;
  z-index: 5;
}
#yellow{
  background-color:yellow;
  align-items:center;
}
.col2{
  flex:1;
  height:600px;
  width:200px;
  flex-direction:column;
}

#green{
  background-color:green;
  align-items:flex-start;
}
#blue{
  background-color:blue;
}


#button@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
#button@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}


#button.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
#button.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.flashcolor {
  background:radial-gradient(circle,red,yellow 30%,green 80%);
}
.clickflash{
  background:radial-gradient(circle,red,yellow 30%,green 80%);
}
.backtored{
  background:red;
}
.backtoblue{
  background:blue;
}
.backtogreen{
  background:green;
}
.backtoyellow{
  background:yellow;
}

#topbar {
  margin-bottom: 20px;
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 16px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

#topbar a:hover {
  opacity: 1;
}

#hiddenbar {
  display: block;
  width: 100%;
  background: #4f4a41;
  color: #b09f82;
  font-weight: bold;
  padding: 8px 0;
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
}

#hiddenbar a {
  color: #fff;
  font-size: 1.0em;
  text-decoration: none;
  opacity: 0.5;
  text-shadow: none;
}
#hiddenbar a:hover { opacity: 1; }

#topbar:hover { height: 57px; }

.spinning {
    background-color: black;
    border:none;

    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
}
@-moz-keyframes spin {
  /*0% { -moz-transform: rotate(0deg); }
  30% { -moz-transform: rotate(90deg); }
  60% { -moz-transform: rotate(180deg); }
  80% { -moz-transform: rotate(270deg); }*/
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
 /* 0% { -webkit-transform: rotate(0deg); }
  30% { -webkit-transform: rotate(90deg); }
  60% { -webkit-transform: rotate(180deg); }
  80% { -webkit-transform: rotate(270deg); }*/
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
 /* 0% { transform: rotate(0deg); }
  30% { transform: rotate(90deg); }
  60% { transform: rotate(180deg); }
  80% { transform: rotate(270deg); }*/
  100% { transform: rotate(360deg); }
 }



















